<%= form_for(video) do |f| %>
<div class="container">
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :title, class:"col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class:"col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_area :description, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :url, class:"col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :url, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :slug, class:"col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :slug, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :position, class:"col-2 col-form-label" %>
    <%= f.number_field :position %>
  </div>

  <div class="form-group row">
    <%= f.label :visibility, class:"col-2 col-form-label" %>
    <%= f.check_box :visibility %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
