<br>
<div class="container">
  <% if current_user && current_user.admin? %>
    <div class="text-center">
      <%= link_to 'Nuevo Video', new_video_path, class:"btn btn-primary btn-block" %>
    </div>
  <% end %>
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col-md-4 my-3">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= video.url %>?rel=0" allowfullscreen></iframe>
      </div>
        <% if current_user && current_user.admin? %>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'Show', video, type:"button", class:"btn btn-secondary" %>
          <%= link_to 'Edit', edit_video_path(video), class:"btn btn-secondary"  %>
          <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, type:"button", class:"btn btn-secondary" %>
        </div>
        <% end %>
  	</div>
    <% end %>
  </div>
</div>

 