<%= render "layouts/welcome" %>
<%# render "layouts/vcarousel" %>
<div class="container">
  <%= render "layouts/video1" %>
  <%= render "layouts/video2" %>
  <%= render "layouts/video3" %>
</div>
<%= render "layouts/footer" %>