<p id="notice"><%= notice %></p>

<% if current_user && current_user.admin? %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.city %></td>
        <td><%= contact.message %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>