  <nav class="navbar navbar-toggleable-md navbar-inverse overlay">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <!--<%= image_tag("actuemos.svg", size: "100", class: "d-inline-block align-top") %>-->
    <strong><%= link_to "¡ A C T U E M O S !", root_path, class: "navbar-brand" %> </strong>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item">
          <%= link_to "SOÑEMOS", forums_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to " ACTUAMOS", "/actuamos", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "HABLEMOS", "/hablemos", class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'PERFIL', edit_user_registration_path, :class => 'nav-link' %> 
          </li>
          <li class="nav-item">
            <%= link_to "DESCONECTAR", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "INGRESAR", new_user_session_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
