<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>¡ACTUEMOS! <%= @page_title %></title>
    <meta name="description" content="<%= @page_description %>">
	  <meta name="keywords" content="democracia,  politica, poder ciudadano">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <!--<%= favicon_link_tag 'actuemos.ico' %>-->
  </head>

  <body>
    <%= render "layouts/nav" %> 
    <%= render "layouts/notifications" %>
    <%= yield %>
    <%= render "layouts/footer" %> 
  </body>
</html>
